body{
    margin: 0px;
    padding: 0px;


}
.header {
 
    background-color: #889B13;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    text-align: center;

}
.navbar {
   margin-top: 0px;
   height: 385px;
    width: 150px;
    background-color: #00FF94;
    float: left ;
}
.footer {
    height: 100px;
    width: 100%;
    background-color: #4DB5B5;
    text-align: center;
    float: right;

}

.main {
    background-color: #9E9CFF;
    height: 385px;
    text-align: center;
}
